PauseScreen , GameOverScreen {
	
	-fx-background-color: #00000050;
	
}

#gameOverLabel {
	
	-fx-background-color: #FFFF00A0;
	-fx-text-fill: #FF0000FF;
	
}

#scoreLabel {
	
	-fx-background-color: #FFFFFFA0;
	
}
